<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">
    <div>
        <h3>Hello Shop</h3>
    </div>
    <div style="text-align: center">
        <h1>HELLO SHOP</h1>
        <p>회원 기능</p>
        <button>회원 가입</button>
        <button>회원 목록</button>
        <p>상품 기능</p>
        <button onclick="location.href='items/new'">상품 등록</button>
        <button onclick="location.href='items'">상품 목록</button>
        <p>주문 기능</p>
        <button>상품 주문</button>
        <button>주문 내역</button>
    </div>
</div> <!-- /container -->

</body>
</html>