<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">
    <div>
        <h3>Hello Shop</h3>
    </div>
    <div>
        <form action="/items/new" method="post">
            <div class="form-group">
                <label for="name">상품명</label>
                <input type="text" id="name" name="name" placeholder="이름을 입력하세요."> <!--name 이 서버로 넘어가는 키-->
                <br><br>
                <label for="name">가격 </label>
                <input type="text" id="price" name="price" placeholder="가격을 입력하세요."> <!--name 이 서버로 넘어가는 키-->
                <br><br>
                <label for="name">수량 </label>
                <input type="text" id="stockQuantity" name="stockQuantity" placeholder="수량을 입력하세요."> <!--name 이 서버로 넘어가는 키-->
            </div>
            <br><br>
            <button type="submit">등록</button>
        </form>
    </div>
</div> <!-- /container -->

</body>
</html>