<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">
    <div>
        <h3 onclick="location.href='/'">Hello Shop</h3>
        <hr>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>재고수량</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.price}"></td>
                    <td th:text="${item.stockQuantity}"></td>
                    <td>
                        <button th:href="@{/items/${item.id}/edit}">수정</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->

</body>
</html>